#page--container {
    margin: 0;
    font-family: 'Share', cursive;
}
.main-container {
    display: flex;
    justify-content: center;
}
.nav--primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-top: 5rem;
}
.nav--primary--right {
    margin-left: auto;
}
.nav--list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}
.btn {
    padding: 1.2rem;
    font-size: 1rem;
}
.div-display {
    margin: 20rem;
    border: 2px black solid;
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;
}
